@import "tailwindcss";

@theme {
  /* colors */
  --color-dark-green: #3c7e35;
  --color-whitee: #fffffc;
  --color-blacky: #1e1e24;
  --color-linear: #6de460;
  --color-gradient: #3c7e35;
  --color-brown: #5f5f5f;
  --color-whitish: #313030;

  /* line height */
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;

  /* font size */
  --text-custom-3xl: 32px;
  --text-custom-4xl: 40px;
  --text-custom-6xl: 64px;

  /* font family */
  --font-dm-serif-text: var(--font-dm-serif-text);
  --font-poppins: var(--font-poppins);
}

.li {
  position: relative;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.li:hover {
  color: var(--color-gradient);
}
.li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--color-gradient);
  transition: width 0.3s ease;
}

.li:hover::before {
  width: 100%;
}
.a {
  position: relative;
  width: fit-content;
}

.a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--color-whitee);
  transition: width 0.3s ease;
}

.a:hover::before {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 5px;
  background-color: var(--color-gradient);
}
